$equipos-nombres: "equipos_30", "equipos_libre", "equipos_libresem", "equipos_50";
$fixture-nombres: "fixture_libres", "fixture_30", "fixture_semanal", "fixture_50";

@font-face {
    font-family: "Malberg";
    src: url(../font/MalbergTrial-Heavy.ttf);
}

@font-face {
    font-family: "hello_januari";
    src: url(../font/hello_januari/Hello\ Januari.ttf);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body {
    width:100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: darkseagreen;


    .menu {
        list-style-type: none;
        width:100%;
        margin: 0;
        padding: 10;
        overflow: hidden;
        background: linear-gradient(white, yellow);
    }
}

.boton{
    display: inline-block;
    padding: 10px;
    background-color: #034774;
    color: #fff;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 10px;

    &:hover{
        background-color: #2980b9;
        cursor: pointer;
    }
}


.messi {
    width: 100%;
    padding: 10px;
}

.barra {
    text-decoration: yellow;
    display: inline-block;
    margin-right: 20px;

    &:hover {
        background-color: green;
        cursor: pointer;
    }
}

.barra_opciones {
    color: #ff0000;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}


.logo_container {
    background-color: skyblue;
    position: relative;
    padding:20px;

    .logo {
        width: 10%;
        animation: rotate 5s linear infinite;
        margin-bottom: 10px;
        align-items: center;
        margin-left: 2%;
        display: flex;
    }

    .titulologo {
        font-family: "hello_januari";
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
        font-size: 150%;
        display: flex;
        margin-left: 15%;
    }
}

h1 {
    font-style: italic;
    color: brown;
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.liga {
    text-decoration: underline;
    color: rgb(206, 13, 180);
}

#bienvenido {
    font-family: "Malberg";
    color: gray;
}

h3 {
    color: darkgoldenrod;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

.subr {
    text-decoration: underline;
    font-family: cursive;
    color: sienna;
}

h2 {
    text-decoration: underline;
    color: darkgreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h4 {
    color: green;
    font-family: 'Times New Roman', Times, serif;
}

.maradona {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.equipos-container {
    background: linear-gradient(135deg, #d3ddd4, #64B5F6);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin: 20px;

}

@each $equipo in $equipos-nombres {
    .#{$equipo} {
      min-width: 300px;
      margin-right: 10px;
    }
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;

}

.equipos_titulo {
    color: blue;
    font-weight: bold;
}

.tit,
.foto_fecha {
    text-decoration-color: white;
    color: darkgoldenrod;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imagen_fecha {
    background-color: cornflowerblue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    margin: 10px;

    img {
        width: 200px;
        height: 200px;
        flex-shrink: 0;
        box-sizing: border-box;
        margin: 10px;
        cursor: pointer;
    }
}



.fixture_container {
    background: linear-gradient(135deg, #d3ddd4, #FF8A80);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin: 20px;
}

@each $fixture in $fixture-nombres {
    .#{$fixture} {
      min-width: 300px;
      margin-right: 10px;
      font-size: 12px;
    }
}
  
.fixture_detalle {
    font-size: 16px;
    font-family: "Arial", sans-serif;
    color: #4745bb;
    font-weight: bold;
}

.contacto {
    display: flex;
    grid-template-columns: 50% 50%;
    gap: 10px;
    align-items: center;

    .contacto_imagen {
        grid-column: 1 / 2;
        display: flex;

        img {
            max-width: 50%;
            height: auto;
            display: flex;
            margin-left: 50%;
            margin-right: 20%;
            margin-bottom: 150px;
            
        }
    }

    .contacto_formulario {
        grid-column: 2 / 3;
        margin-right: 60%;
        margin-top: -37%;

        label {
            display: block;
            margin-bottom: 8px;
        }

        input,
        textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background-color: #45a049;

            }
        }
    }
}
.error{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;

    .contenedor {
        text-align: center;
    }

    .wrapper {
        max-width: 400px;
        margin: auto;
        .title-error{
            font-size: 500%;
            color:#000;
         }   
        
        .message-info {
            i{
                font-size:00%;

            }
            h2 {
              font-size:300%;
              color:#000;
            }
        }
    }

}

footer {
  background-color: #012510;
  color: #fff;
  width: 100%;
  padding: 20px 0;
  margin-top: 3px;

  
  .derecho{
    padding: 10px;
    display: flex;

}

  .pie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 30px;

    img {
      width: 20%;
      margin-right: 40px;
      animation: rotate 5s linear infinite;
      display: flex;
    }

    div {
      display: flex;
      align-items: center;

      .nombre_logo {
        padding: 5px;
        margin-left: 10%;
      }
    }

    span {
      font-family: "hello_januari";
      text-align: center;
      margin-left: 10px;
      width:200%;
      padding: 3px;

    }


    .contacto {
      width:30%;
      max-width: 100%;
      margin-left: 50px;
      display: flex;
      flex-direction: column;
      font-size: 80%;
      text-align: center;
      padding: 10px;
    }
  }
}

.contacto {
    text-align: left;
    margin-left: 30px;
    display:block ;
    .contacto_imagen{
        margin-right: 20px;
        margin-bottom: -200px;
        padding:10px;
        width: 100%;
    
    }
}

@media only screen and (max-width: 767px) {
    .titulologo {
        font-size: 100% !important;
        align-items: center !important;
       

    }


    .pie{
        display:inline-block !important;
    }
    .contacto {
        width: 90% !important;



        .contacto_imagen{
            width: 100% !important;
            display: flex;
        }
        .contacto_formulario {
            margin-top: 10%;
            width: 90%;
            

        }
    }

    footer{
        width: 100%;
        margin-top:3px;
        .contacto{

            margin-top: 3px;
            width: 90% !important ;
            margin-top: 30px !important; 
            display:flex;       
        }
    }

}
